.option {
  border-radius: var(--mantine-radius-xl);
  text-align: center;
  font-weight: bold;
  &[data-status='Sold']:hover {
    background-color: var(--mantine-color-red-5);
    color: var(--mantine-color-white);
  }
  &[data-status='Sale']:hover {
    background-color: var(--mantine-color-primary-5);
    color: var(--mantine-color-white);
  }
}

.dropdown {
  border-radius: var(--mantine-radius-md);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.25rem
}


